.result {
  height: 60px;
  background-color: #000000;
  width: 100%;
  color: #ffffff
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.body {
  max-width: 500px;
  margin: auto;
}

.button {
  display: block;
  background-color: #ffffff;
}

button {
  width: 25%;
  height: 50px;
  font-size: 30px;
  background-color: #e7f2c4;
}

button-spacer {
  width: 25%;
  height: 50px;
  background-color: #e7f2c4;
}